:root {
    --yellow: #ffc600;
    --lightblue: #118888;
    --lighterblue: #04afbf;
    --niteblue: #282849;
    --pinkish: #e07;
    --purple: #519;
    --grey: #666;
    --black: #272727;
}

html {
    font-size: 28px;
}

* {
    margin: 0 auto;
    text-align: center;
    font-family: 'Londrina Solid', Arial, Helvetica, sans-serif;
    color: var(--lightblue);
    box-sizing: border-box;
}

.page-container {
    /* display: grid; declared in JS display none/grid */
    margin-top: .5rem;
    position: relative;
    width: 98vw;
    max-width: 400px;
    /* room for top/btm mobile nav chrome safari */
    height: 85vh;
    max-height: 630px;
}

#start-page,
#game-page, .choose-page {
    grid-template-rows: auto 8fr 1fr;
}

.two-col-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.span-2-row {
    grid-column-start: span 2;
}

h1,
h2 {
    font-family: 'Londrina Outline', Arial, Helvetica, sans-serif;
    color: var(--pinkish);
}

h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.4rem;
    margin-bottom: 0;
}

h4 {
    font-size: 1.2rem;
    line-height: 1rem;
    margin: .3rem 0 0;
}

h5 {
    line-height: .8rem;
    color: var(--purple);
}

p {
    color: var(--grey);
    margin: 1rem;
}

img {
    border-radius: 50%;
    width: 110px;
}

.top-margin2 {
    margin-top: 2rem;
}
.top-margin3 {
    margin-top: 3rem;
}

#einstein-btn,
#trump-btn {
    padding: 10px;
    width: 80%;
    height: 90%;
    border-radius: 5%;
}

.play-btn,
#play-again-btn {
    background: var(--yellow);
    border: var(--gray) solid .3px;
    padding: 5px 10px;
    width: auto;
    height: 35px;
    border-radius: 5%;
    font-size: .65rem;
    color: var(--pinkish);
    cursor: pointer;
    vertical-align: bottom;
}

.player-btns {
    line-height: 90px;
    width: 90px;
    height: 90px;
    font-size: 2.8rem;
    cursor: pointer;
    border-radius: 3%;
    border: solid var(--yellow) .5px;
}

#human-O {
    background: var(--yellow);
}

table {
    margin-top: .5rem;
    border-collapse: collapse;
}

td {
    width: 100px;
    max-width: 120px;
    height: 100px;
    max-height: 120px;
    cursor: pointer;
    font-size: 2.8rem;
    line-height: 2rem;
    color: var(--lightblue);
    border: solid var(--yellow) 4px;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

#winner-msg {
    font-size: 1rem;
    color: var(--lighterblue);
    margin: .75rem 0 .25rem;
}

.opponent-comment {
    margin: 0 .25rem .5rem;
    font-size: .75rem;
    line-height: .75rem;
    color: var(--purple);
}

#call-putin-page {
    background: var(--niteblue);
}

#trump-phone,
#putin-phone {
    width: 60%;
    visibility: hidden;
}

#trump-phone {
    margin: 9rem 0 0 2rem;
}

#putin-phone {
    margin: 5rem 2rem 0 0;
}



@media only screen and (max-width: 414px) {
    html {
        font-size: 24px;
    }

    .page-container {
        height: 85vh;
    }

    td {
        width: 90px;
        height: 90px;
    }
}